.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-item {
  margin: 8px;
  cursor: pointer;
}
.margin-left-auto {
  display: flex;
  margin-left: auto;
}  
.App-link {
  color: #61dafb;
}

.feed-container {
  padding: 16px;
}
.feed-container > .feed{
  margin-top: 16px;
}
.user-detail {
  font-size: 24px;
  padding: 16px;
}
.input-container > input {
  height: 120px;
  width: 540px;
  margin-top: 16px;
}

.feed-container > .page-title {
  font-size: 18px;
  
}

.tweet, .post {
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.post > .post-message {
  margin-left: 18px;
}
.tweet > .text {
  margin-left: 18px;
}
.input-container > button {
  display: block;
  margin-top: 8px;
  font-size: 16px;
}

.login-page {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .login-header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.login-facebook, .login-twitter {
  font-size: 18px;
  margin-top: 8px;
}

.login-facebook {
  color: #3b5998;
}
.login-twitter {
  color: #1DA1F2;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
